:root {
   --nigeria-green: #0f9366;
   --background-green: #f5fff5;
}

html,
body {
   min-width: 320px;
}

* {
   font-family: "Poppins";
   transition: 0.3s;
}


#Hero,
#Image-gallery,
#about,
#How-it-works,
#Latest-news,
#Video,
#Info-section,
.footer-sections-wrapper {
   /* Padding for all sections */
   padding-left: 5%;
   padding-right: 5%;
}

.rounded {
   border-radius: 15px;
}

.green-btn {
   background-color: green;
   color: whitesmoke;
   transition: 0.3s;
}

.green-btn:hover {
   background-color: green;
   color: whitesmoke;
   transition: 0.3s;
}

.green-text {
   color: green;
}

/* NAVBAR  */

.nav-link:hover {
   box-shadow: 0 2px var(--nigeria-green);
   color: var(--nigeria-green) !important;
   transition: 0.5s;
}

.nav-item {
   margin-right: 5px;
}

.nav-link {
   font-size: 15px;
}


/* HERO */
.hero-wrapper {
   display: flex !important;
   flex-direction: column;
   align-items: center;
}

.hero-wrapper>h2,
h6 {
   text-align: center;
   color: #333;
}

.hero-wrapper h2 {
   font-weight: bold;
}

.hero-wrapper>h6 {
   color: gray;
}


/* TOP IMAGE GALLERY */

.image-gallery-item {
   height: 200px;
   width: 210px;
   margin-right: 15px;
}

.image-gallery-left {
   display: flex;
   justify-content: end;
   padding-right: 15px;
}

.image-gallery-right {
   display: flex;
   justify-content: start;
}

/* Mobile devicex */
@media (max-width: 480px) {

   .image-gallery-left,
   .image-gallery-right {
      justify-content: center !important;
      align-items: center;
      flex-direction: column;
   }

   .image-gallery-item {
      margin: 10px 0 !important;
      width: 240px;
   }

}

/* For tablets */
@media (max-width: 992px) {

   .image-gallery-left,
   .image-gallery-right {
      justify-content: center;
   }

   .no-right-margin {
      margin-right: 0;
   }
}

/********** TOP IMAGE GALLERY ENDS **********/

/********** ABOUT **********/

.about-us-wrapper {
   display: grid;
   grid-template-columns: auto 45%;
   gap: 15px;
}

.about-left {
   display: flex;
   justify-content: end;
   padding-right: 20px;
}

.about-right>p {
   text-align: justify;
}

#about-image {
   width: 100%;
   max-width: 500px;
   height: auto;
}

#about {
   padding-bottom: 40px;
   padding-top: 20px;
}

@media (min-width: 768px) {
   .about-right {
      max-width: 400px;
   }
}

@media (max-width: 768px) {
   .about-right {
      max-width: 500px;
   }
}

@media (max-width: 992px) {
   .about-us-wrapper {
      grid-template-columns: auto;
      justify-content: center;
   }

   .about-left {
      margin-bottom: 20px;
      justify-content: center;
      padding-right: 0;
   }
}


/********** ABOUT ENDS *********/


section>h2 {
   text-align: center;
   margin-bottom: 25px;
   margin-top: 40px;
}

/* ********* HOW IT WORKS ********* */

#How-it-works {
   background-color: var(--background-green);
   padding-top: 20px;
}



.hiw-wrapper {
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: auto;
   justify-content: center;
   gap: 10px;
   padding-bottom: 40px;
}

.hiw-item {
   height: 230px;
   max-width: 250px;
   text-align: center;
   border: none;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
}

.hiw-item > .card-body > .card-text{
   font-size: 12px;
}

.hiw-item > .card-body > .card-title{
   font-size: 17px;
}


.card-title {
   font-size: 20px;
}

.card-body>.fa {
   font-size: 50px;
   color: rgba(0, 128, 0, 0.6);
   padding-bottom: 10px;
}

/* For tablets */
@media (max-width: 992px) {
   body {
      font-size: 16px;
   }

   .hiw-wrapper {
      grid-template-columns: auto auto;
   }

}

/* For mobile phones */
@media (max-width: 480px) {
   body {
      font-size: 14px;
   }

   .hiw-wrapper {
      grid-template-columns: auto;
   }
}

/* ********* LATEST NEWS ********* */

#Latest-news {
   padding-bottom: 40px;
}

.news-item-wrapper {
   display: grid;
   grid-template-columns: 50% 50%;
   gap: 15px;
}

.news-item {
   display: grid;
   grid-template-columns: 150px auto;
   border-radius: 20px;
   border-color: #ACE1AF;
   height: 130px;
   width: 100%;
   padding: 6px;
   box-sizing: border-box;
}

.news-image {
   width: 100%;
   height: 100%;
   border-radius: 15px;
   padding: 0px;
}

.news-item-title {
   padding: 8px;
   display: flex;
   align-items: center;
   color: green;
   font-weight: 400;
   margin: 0;
   font-size: 14px;
   text-decoration: none;

}
.news-item-title:hover{
   text-decoration: underline;
}

/* For tablets*/
@media (max-width: 576px) {
   .news-item-wrapper {
      grid-template-columns: auto;
   }

   .news-item-title {
      /* font-size: small; */
   }
}

/* ********* VIDEO ********* */


#Video {
   background-color: var(--background-green);
   padding-top: 40px;
   padding-bottom: 40px;
}

.videos-wrapper {
   display: grid;
   grid-template-columns: 30% 30% 30%;
   border: 20px;
   gap: 15px;
   justify-content: center;
}

@media (max-width: 768px) {
   .videos-wrapper {
      grid-template-columns: 100%;
   }

   iframe {
      max-width: 300px;
   }

   .video-item {
      display: flex;
      justify-content: center;
   }
}

iframe {
   width: 100%;
   height: 210px;
   border-radius: 20px;
}

#Info-section {
   padding-top: 40px;
   padding-bottom: 40px;
   display: grid;
   grid-template-columns: 33.33% 33.33% 33.33%;
   gap: 15px;
   justify-content: center;
}

.info-heading {
   background-color: green;
   color: white;
   border-radius: 8px;
   padding: 8px;
   width: 100%;
   font-weight: 500;
   text-align: center;
   font-size: 17px;
}

.info {
   padding: 10px 8px;
   border-bottom: 1px solid #535353;
   font-size: 15px;
}

.info-item {
   display: flex;
   flex-direction: column;
   padding: 12px;
}

.info-item:last-child {
   border-bottom: none;
}

.info-item>a {
   text-decoration: none;
   color: black;
}

#Footer {
   position: relative;
   background: url('nysc-2.jpg');
   background-size: cover;
   background-position: center;
   color: white;
   padding-top: 45px;
   padding-bottom: 65px;
}

#Footer::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 128, 0, 0.8);
   /* Green overlay */
   z-index: 1;
   /* Make sure it stays above */
}

#Footer * {
   position: relative;
   z-index: 2;
   /* Ensure text stays above the overlay */
}

.footer-item>a {
   color: white;
   text-decoration: none;
   padding-top: 14px;
}

.footer-item {
   display: flex;
   flex-direction: column;
   padding: 15px;
   padding-top: 25px;
}

.footer-item h5{
   font-size: 20px;
   font-weight: 600;
}

.footer-sections-wrapper {
   display: grid;
   grid-template-columns: 15% 25% 30% 30%;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
   display: inline;
   padding: 7px;
   font-size: 25px;
   transition: 0.3s;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover {
   color: lightgray;
}

@media (max-width: 768px) {
   .footer-sections-wrapper {
      grid-template-columns: 100%;
   }

   #Info-section {
      padding-top: 40px;
      display: grid;
      grid-template-columns: 100%;
      gap: 15px;
      justify-content: center;
   }
}

@media (max-width: 576px) {
   #Info-section {
      padding-top: 40px;
      display: grid;
      grid-template-columns: 100%;
      gap: 15px;
      justify-content: center;
   }

   .call-to-action {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .call-to-action * {
      width: 100%;
      margin-bottom: 15px;
   }
}


/* ************************** */

.wrapper {

   /* Adjusts based on screen size  */
   /* max-width: 1200px;
   margin: 0 auto; */
}